
    .bg-dark-blue{
        background-color:rgba(10,17,50,1);
    }

    .gradient-green{ 
        background: rgb(11,107,79);
        background: linear-gradient(180deg, rgba(11,107,79,1) 0%, rgba(22,149,88,1) 47%, rgba(45,173,112,1) 94%, rgba(40,181,114,1) 100%);
        width: 100%;
        height: 100vh;
        position: fixed;
        display: block;
        
    }
    .blur{
        
        left: 0;
        right: 0;
        
        z-index: 1;
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }

    .container-fluid{
        
        position: fixed;
        left: 0;
        right: 0;
        display:none;
    }

    .to-front{
        z-index:9999;
    }

    .squirrel{
        height: 50vh;
    }
    .b-white{
        background-color:rgba(255,255,255,0.8)
    }


    .f-white{
        color:rgba(255,255,255,0.8)
    }

 
    .profile-img {
        height:100px;
        width:100px;
        border-radius: 50%;
    }

    .round-10{
        border-radius:10px;
       
    }

   

    .login{
        border-radius: 10px;
        width:75vh;
        opacity: 0.8;
    }

    .m0{
        margin:0;
    }

  